@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

header {
    background-color: #FCE796;
    padding: 0;
    margin: 0;
}

#intro {
    background: url("../images/intro_header.jpg") no-repeat;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 10rem;
}

body{
    margin:0;
}

h1, h2 {
    margin:0;
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 3rem;
    position: relative;
}

h3 {
    font-size: 2rem;
}

#logout {
    background-color: #FCE796;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    float: right;
    font-weight: bold;
    margin: 1.4em;
}

#logout:hover {
    color: #C00402;
    border: none;
}

#logo{
    width: 6rem;
    height: 3rem;
    margin: 0.5rem;
}

p, nav, #datepicker2, #dateChosen, #myChart2, #myChart, #soldFromDate {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* text-align: right; */
}

nav li {
    display: inline-block;
}

nav a {
    padding: 0.5em 0.69em 0.5em 0.69em;
}

nav a {
    text-decoration: none;
    color: black;
    font-size:1.5rem;
    font-weight: bold;
}

nav a:hover {
    color: #C00402;
    background-color: rgb(255, 255, 255, 0.6);
}

.stats {
    border: 1px solid #999999;
    border-radius: 0.2rem;
    margin: 2rem;
    margin-bottom: 0.8rem;
    padding: 0 0.5rem 0 0.5rem;
    width: 30rem;
    text-align: center;
}

#order_stats {
    display: flex;
    justify-content: center;
}

#order_calendar {
    display: flex;
    justify-content: center;
}

#order_chosen_day {
    width: auto;
}

#left{
    width: 20rem;
    text-align: center;
}

#order_graph {
    width: 40rem;
    border: 1px solid #999999;
    border-radius: 0.2rem;
}

#left, #order_graph {
    margin: 2rem;
    padding: 0 0.5rem 0 0.5rem;
}

#flavours{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#flavour_graph, #popular {
    border: 1px solid #999999;
    border-radius: 0.2rem;
    margin: 2rem;
    padding: 0 0.5rem 0 0.5rem;
    width: 50rem;
}

#flavour_graph {
    margin-top: 0;
}

#myChart {
    width: 80em;
    height: 30em;
}

#myChart2 {
    padding-top: 4em;
    width:80em;
    height: 60em;
    vertical-align: center;
}