@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	border: 0px;
}
body{
	background: url("../images/bg.jpg") no-repeat;
	background-size: 100% 100%;
}
#all{
	width: 980px;
	margin: 0px auto;
}

#logo{
	width: 210px;
	height: 90px;
	margin: 30px 0px 20px 50px;
}

#nav{
	width: 980px;
	height: 490px;
	border-top: 1px solid #999999;
	padding-top: 10px;
}
#nav .left{
	height: 440px;
	width: 490px;
	float: left;
	border-right: 1px solid #999999;
}
#nav .right{
	width: 409px;
	overflow: hidden;
	padding-left: 80px;
}
#nav .left h2{
	width: 50%;
	text-align: center;
	font-size: 50px;
	color: #D17624;
	padding-left: 100px;
}
#nav .right h2{
	width: 50%;
	text-align: center;
	font-size: 50px;
	color: #D17624;
	padding-left: 100px;
}

form{
	width: 490px;					/*设置宽度，方便使其居中*/
	margin: 40px auto auto auto;	/*上右下左*/
	font-size: 25px;
	margin-left: 80px;
}
input{
	height: 30px;
	width: 23em;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #999999;
	border-radius: 5px;
}
#submit_form{
	font-size: 16px;
	width: 120px;
	height: 33px;
	background: #FEE696;
	margin-top:49px;
	margin-left: 75px;
	cursor: pointer;
}
#goto_register{
	border-radius: 5px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	background: #FEE696;
	margin-top: 20px;
	margin-left: 100px;
	border: 1px solid #999999;
	margin-top: 108px;
	text-align: center;
	cursor: pointer;
	margin-left: 150px;
}
#goto_register a{
	text-decoration: none;
	color: #000000;
}


.tit{
	font-size: 20px;
}
.right .tips{
	width: 100%;
	margin-top: 50px;
}
label{
	cursor: pointer;
}
#user{
	width:20px;
	height:20px;
	line-height: 20px;

}
#admin{
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
}
.check{
	float: left;
}
