/* --------- Authors: Madeleine Towes, Aggrey Nhiwatiwa --------- */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

/*edit of the * call to get it to work with sweet alert. Thanks, George Black*/
*:not([class*="con"],.swal2-header,[class*="styled"],.swal2-title,.form-delivery,.form-delivery *){
	/*width: 980px;*/
	/*margin: 0px auto;*/
	padding: 0px;
	border: 0px;
}

body{
	margin:0;
}

header {
	background-color: #FCE796;
	padding: 0;
	margin: 0;
}

#logo{
	width: 6rem;
	height: 3rem;
	margin: 0.5rem;
}

#intro {
	background: url("../images/intro_header.jpg") no-repeat;
	padding: 0;
	margin: 0;
	text-align: center;
	height: 10rem;

}

.tit {
	background: #FCE796;
}

#intro h1, h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
}

h1 {
	margin: 0;
	font-size: 3rem;
	position: relative;
}

p, #confirm, #checkout, #restart {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

#checkout {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-top: 2rem;
}

#numMoney{
	font-size: 1.5rem;
}

td{
	width: 15rem;
	border: 1px solid #000000;
}

#buttons {
	display: flex;
	justify-content: center;
}

#tbody1 td, #confirm, #restart {
	padding: 0.5rem 1rem 0.5rem 1rem;
	border: 1px solid #999999;
}

#confirm, #restart{
	width: 10rem;
	background: #FCE796;
	cursor: pointer;
	margin: 1rem 1rem;
	border-radius: 0.5rem;
}

#tbody1{
	text-align: center;
}

.tit{
	background: #FEE696;
}

footer{
	display: flex;
	justify-content:space-around;
	background-color: black;
	height: 5rem;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.contactleft{
	align-self: flex-start;
	padding-top: 1rem;
}

footer p{
	color: #FCE796;
	margin:0;
	font-size: 1rem;
}

.icons {
	padding-top: 1rem;
	padding-right: 1rem;
	height: 2.5rem;
}

#socials{
	display: flex;
	justify-content: center;
}

img.icons{
	display: inline-flex;
	height: 3rem;
	width: 3rem;
}

.form-delivery
{
	padding:10px 10px 20px 10px;
}



.form-delivery *:not(label,input[type="text"]){
	display:table-cell;

	padding:.5rem 2rem 0 0;

	font-size:120%;
}
.form-delivery *:not(label,input[type="text"]):first-of-type{
	padding-left:75px;
}

input[type="text"]{
	position:static;
	width:225px;
}

input[type="text"]:not(#deliveryZip){
	margin-bottom:.4rem;
}

@media (max-width: 700px){

	#intro p {
		padding-left: 5rem;
		padding-right: 5rem;
		font-size: 1.1rem;
	}

	img.icons{
		display: inline-flex;
		height: 2rem;
		width: 2rem;
	}

}

@media (max-width: 600px) {

	img.icons {
		height: 1.5rem;
		width: 1.5rem;
	}

	footer p {
		font-size: 0.75rem;
	}

	#socials {
		margin: 0;
		padding: 0;
	}
}


@media (max-width: 505px) {

	img.icons {
		height: 1.2rem;
		width: 1.2rem;
		margin: 0;
		padding-right: 0;
	}

	#intro p {
		font-size: 1rem;
	}

}


@media (max-width: 400px) {

	img.icons {
		height: 1.2rem;
		width: 1.2rem;
		margin: 0;
		padding-right: 0;
	}

}

















