@charset "utf-8";
/* CSS Document */

*{
	width: 980px;
	margin: 0px auto;
	padding: 0px;
	border: 0px;
}
#logo{
	width: 210px;
	height: 90px;
	margin: 30px 0px 20px 50px;
}

#tit{
	font-family: 微软雅黑;
	text-align: center;
	font-size: 50px;
	color: #D17624;
	padding-top: 20px;
	border-top: 1px solid #999999;
}
#orderId{
	font-family: 微软雅黑;
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
	font-weight: 400;
}
#table{

	width: 980px;
	margin: 0 auto;
	padding-left: 85px;
}
#table tr{
	height: 40px;
}

.tip{
	width: 600px;
	font-size: 20px;
	text-align: right;
	padding-right: 20px;
}
.border{
	width: 255px;
	height: 30px;
	font-size: 18px;
	border: 1px solid #999999;
	text-align: left;
}
.input_border{
	width: 19em;
	height: 25px;
	border: 1px solid #999999;
	text-align: left;
}
#date{
	width: 255px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	margin-left: 0px;
}
#pay{
	margin-top: 30px;
	width: 180px;
	height: 50px;
	background:#FEE696;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #999999;
}
