/* --------- Authors: Madeleine Towes, Aggrey Nhiwatiwa --------- */

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');

/*edit of the * call to get it to work with sweet alert. Thanks, George Black*/
**:not([class*="con"],.swal2-header,[class*="styled"],.swal2-title){
	/*width: 980px;*/
	margin: 0px auto;
	padding: 0px;
	border: 0px;
}

header {
	background-color: #FCE796;
	padding: 0;
	margin: 0;
}

#intro {
	background: url("../images/intro_header.jpg") no-repeat;
	padding: 0;
	margin: 0;
	text-align: center;
	height: 10rem;
}

body{
	margin: 0;
}

h1, h2 {
	margin:0;
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
}

h1 {
	font-size: 3rem;
	position: relative;
}

h2 {
	color: #C00402;
	font-size:2rem;
}

h3 {
	font-size: 2rem;
}

#logo{
	width: 6rem;
	height: 3rem;
	margin: 0.5rem;
}

p, #registerForm, input, #swal2-content {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

h2 {
	text-align: center;
	padding-top: 1rem;
}

main {
	width: 60%;
	margin: 0 auto 0 auto;
	position: relative;
	float: center;
}

td.tit, td {
	margin-left: 15rem;
}

input{
	height: 2rem;
	width: 38em;
	border-radius: 0.2rem;
	border: 1px solid #999999;
	margin: 0.7rem 0.7rem;
}

#name_user, #phone_user, #test_pw, #is_test_pw {
	width: 30rem;
}

.tit{
	width: 10em;
}

#submit_form{
	width: 10rem;
	height: 2rem;
	background: #FCE796;
	cursor: pointer;
	margin-left: 16rem;
	border: 0;
	border-radius: 0.5rem;
	font-weight: 600;
}

footer{
	display: flex;
	justify-content:space-around;
	background-color: black;
	height: 5rem;
	margin: 0;
	padding: 0;
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	width: 100%;
}

.contactleft{
	align-self: flex-start;
	padding-top: 1rem;
}

footer p{
	color: #FCE796;
	margin: 0;
	font-size: 1rem;
}

.icons {
	padding-top: 1rem;
	padding-right: 1rem;
	height: 2.5rem;
}

#socials{
	display: flex;
	justify-content: center;
}

img.icons{
	display: inline-flex;
	height: 3rem;
	width: 3rem;
}

/********************************MEDIA QUERIES*********************************/
@media (max-width: 700px){

	img.icons{
		display: inline-flex;
		height: 2rem;
		width: 2rem;
	}

}

@media (max-width: 900px) {
	main {
		margin-left: 6rem;
	}

	input {
		height: 2rem;
		width: 28rem;
		border-radius: 0.2rem;
		margin: 0.7rem 0.7rem;
	}

	#submit_form {
		margin-left: 9rem;
		border: 0;
		border-radius: 0.5rem;
		font-weight: 600;
	}

	h2 {
		position: relative;
		left: 3.5rem;
	}
}

@media (max-width: 650px) {
	main {
		margin-left: 1rem;
	}

	input {
		width: 22rem;
		font-size: 0.8rem;
	}

	#submit_form {
		margin-left: 5rem;
	}

	h2 {
		left: 5rem;
	}
}


	@media (max-width: 600px) {

		img.icons {
			height: 1.5rem;
			width: 1.5rem;
		}

		footer p {
			font-size: 0.75rem;
		}

		#socials {
			margin: 0;
			padding: 0;
		}
	}


	@media (max-width: 505px) {

		img.icons {
			height: 1.2rem;
			width: 1.2rem;
			margin: 0;
			padding-right: 0;
		}

	}


	@media (max-width: 400px) {

		img.icons {
			height: 1.2rem;
			width: 1.2rem;
			margin: 0;
			padding-right: 0;
		}

	}